* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --background: #E7E7E7;
    --text-primary: #080808;
    --text-secondary: #888888;
    --text-tertiary: #AFAFAF;
}

@font-face {
    font-family: "Voyager";
    src: url('Voyager-Regular.otf') format('opentype');
}

body {
    background-color: var(--background);
}

.display {
    font-family: "Voyager", "Times New Roman", serif;
}

.sans {
    font-family: "Work Sans";
    line-height: 150%;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    font-size: 2.2rem;
    line-height: 85%;
}

h2 {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

a:hover {
    color: var(--text-secondary);
}

ul {
    list-style-type: none;
}

.mono, sup {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.center-align {
    text-align: center;
}

.small-caps {
    font-size: 1rem;
    letter-spacing: 10%;
}

figcaption {
    text-align: center;
}

.small {
    font-size: 0.8rem;
}

.selected {
    color: var(--text-secondary);
}

nav {
    position: absolute;
    top: 0;
    padding: 1rem;
    right: 0;
}

nav, .statement {
    font-size: 1rem;
}

.credits, .statement {
    width: 40%;
    max-width: 1000px;
    padding-bottom: 4rem;
}

.title-wrapper, .statement-wrapper, .credits-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-primary);
}

.title-wrapper {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    justify-content: space-between;
    padding: 12rem 6rem;
}

.statement-wrapper, .credits-wrapper {
    padding-top: 4rem;
}

.index-item {
    color: var(--text-primary);
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 0.875rem;
    padding: 1rem;
}

@media(max-width: 800px) {

    h1 {
        font-size: calc(0.8*2.2rem);
        line-height: 85%;
    }

    h2 {
        font-size: calc(0.8*1.1rem);
    }

    .small-caps, .index-number {
        font-size: 0.8rem;
    }

    .credits, .statement {
        width: 90%;
    }

}